// =============================================================================
// String Replace
// =============================================================================
@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;
  $extmods: (
    eot: '?',
    svg: '#' + str-replace($name, ' ', '_'),
  );
  $formats: (
    otf: 'opentype',
    ttf: 'truetype',
  );
  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + '.' + $extmod)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    font-weight: $weight;
    font-style: $style;
    src: $src;
    font-display: auto;
  }
}

@mixin font-primary($size: false, $colour: false, $weight: false, $lh: false, $style: false) {
  font-family: 'Comfortaa', sans-serif;
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $style {
    font-style: $style;
  }
}
@mixin font-secondary($size: false, $colour: false, $weight: false, $lh: false, $style: false) {
  font-family: 'Comfortaa', sans-serif;
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $style {
    font-style: $style;
  }
}

@mixin border() {
  border: 1px solid #FFECA0;
}


//Media mixin desktop first
@mixin for-big-desktop-up {
  @media (max-width: 1800px) {
    @content;
  }
}
@mixin for-small-desktop-up {
  @media (max-width: 1600px) {
    @content;
  }
}

@mixin for-smalling-desktop-up {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin for-middle-tablet-up {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (max-width: 900px) {
    @content;
  }
}
// @mixin for-tablet-landscape-up {
//   @media (max-width: 768px) {
//     @content;
//   }
// }

@mixin for-tablet-portrait-up {
  @media (max-width: 600px) {
    @content;
  }
}
