$background-color-primary: rgba(251, 229, 227, 0.7);
$background-color-secondary: rgba(62, 193, 16, 0.20);

// text
$color-text-primary:  #000;
$color-text-secondary:  #333333;
$color-text-tertiary: #FFFFFF;
// $color-text-quaternary: #F2582D;
// $color-text-active:  #FFFFFF;

//hamburger
$background-color-hamburger-primary: #fbe5e3; 
$background-color-hamburger-secondary: #a3c78f;
$color-text-active-hamburger: #dc143c; 

// button
// $background-color-button: #F25822;
// $color-text-button: #FFFFFF;

// border
// $border-color: #CCCCCC;
